@use 'utilities' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	font-size: $fsize-n;
	font-family: $main-font;
	background-color: #ffffff;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button,
input,
select,
textarea {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

ul {
	list-style-position: inside;
}