// = = = = = VARIABLES = = = = =
// Colors
$main-color: rgb(205, 100, 100);
// Font sizes etc.

// = = = = = RESET = = = = =
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font: 1.5rem Helvetica;
  overflow-x: hidden;
}

p {
  line-height: 150%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
  max-width: 1400px;

  @media (min-width: 768px) {
    padding: 0 2em;
  }
}

// = = = = = IMPORT STYLES = = = = =

// @import 'nav';
// @import 'footer';
